@fold-color: @secondary-color;
@fold-background-color: @primary-color;

.chapter {
    .fold {
        padding: 0 10%;

        background-color: lighten(@fold-background-color, 35%);

        color: @fold-color;

        overflow-y: hidden;

        span {
            display: block;

            max-height: 100%;

            &:first-of-type {
                position: relative;

                padding: 1em 2em 1em 0;

                color: @fold-background-color;

                border-top: 3px solid @fold-background-color;

                .fa {
                    position: absolute;
                    top: 50%;
                    right: 0;

                    transform: translate(0, -50%);

                    cursor: pointer;

                    font-size: 1.5em;
                }
            }

            &:last-of-type {
                padding-bottom: 1em;

                border-bottom: 3px solid @fold-background-color;
            }
        }

        &.folded {
            span {
                max-height: 0;

                &:first-of-type {
                    max-height: 100%;
                }

                &:last-of-type {
                    padding: 0;
                }
            }
        }
    }
}
