{% extends "base.html" %}

{% block styles %}
        <link type="text/css" rel="stylesheet" href="https://www.liberation.fr/apps/static/styles/fonts.css">
        <link type="text/css" rel="stylesheet" href="https://www.liberation.fr/apps/static/styles/components.css">
        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style/style.css') }}">
        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style/custom.css') }}">
{% endblock %}

{% block scripts %}
        <!-- Chartbeat -->
        <script type='text/javascript'>
            var _sf_async_config={};
                _sf_async_config.uid = 43601;
                _sf_async_config.domain = 'liberation.fr';
                _sf_async_config.useCanonical = true;
                _sf_async_config.sections = "Static";
                _sf_async_config.authors = "Static";
                (function(){
                    function loadChartbeat() {
                        window._sf_endpt=(new Date()).getTime();
                        var e = document.createElement('script');
                        e.setAttribute('language', 'javascript');
                        e.setAttribute('type', 'text/javascript');
                        e.setAttribute('src', 'https://static.chartbeat.com/' + 'js/chartbeat.js');
                        document.body.appendChild(e);
                    }
                    var oldonload = window.onload;
                    window.onload = (typeof window.onload != 'function') ?
                    loadChartbeat : function() { oldonload(); loadChartbeat();
                };
            })();
        </script>
        <!-- // Chartbeat -->

        <!-- Xiti -->
        <script type="text/javascript">
            xtnv = document;
            xtsd = "https://logliberation";
            xtsite = "507510";
            xtn2 = "48";
            xtpage = "LibeLabo::";
            xtdi = "";
            xt_pagetype = "";
            xt_multc = "&x1=0&x2=43&x3=&x4=&x5=&x6=7&x7=";
            xt_an = "";
            xt_ac = "";
            if (window.xtparam==null) { window.xtparam = ''; }
            window.xtparam += "&ptype="+xt_pagetype+"&ac="+xt_ac+"&an="+xt_an+xt_multc;
        </script>
        <noscript>
            <img width="1" height="1" src="https://logliberation.xiti.com/hit.xiti?s=507510&amp;s2=56&amp;p=LibeLabo::&amp;di=&amp;" >
        </noscript>
        <script type="text/javascript" src="https://statics.liberation.fr/bloom/theme/js/xtcore.js"></script>
        <!-- // Xiti -->
{% endblock %}
