{% extends "base.html" %}

{% block styles %}
        <link type="text/css" rel="stylesheet" href="https://www.liberation.fr/apps/static/styles/fonts.css">
        <link type="text/css" rel="stylesheet" href="https://www.liberation.fr/apps/static/styles/components.css">
        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style/style.css') }}">
        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style/custom.css') }}">
{% endblock %}

{% block scripts %}
        <!-- Chartbeat -->
        <script type='text/javascript'>
            var _sf_async_config={};
                _sf_async_config.uid = 43601;
                _sf_async_config.domain = 'liberation.fr';
                _sf_async_config.useCanonical = true;
                _sf_async_config.sections = "Static";
                _sf_async_config.authors = "Static";
                (function(){
                    function loadChartbeat() {
                        window._sf_endpt=(new Date()).getTime();
                        var e = document.createElement('script');
                        e.setAttribute('language', 'javascript');
                        e.setAttribute('type', 'text/javascript');
                        e.setAttribute('src', 'https://static.chartbeat.com/' + 'js/chartbeat.js');
                        document.body.appendChild(e);
                    }
                    var oldonload = window.onload;
                    window.onload = (typeof window.onload != 'function') ?
                    loadChartbeat : function() { oldonload(); loadChartbeat();
                };
            })();
        </script>
        <!-- // Chartbeat -->

        <!-- Google Analytics -->
        <script>
            (function(p,a,u,l,L,o,z){p['GoogleAnalyticsObject']=L;p[L]=p[L]||function(){
            (p[L].q=p[L].q||[]).push(arguments)},p[L].l=1*new Date();o=a.createElement(u),
            z=a.getElementsByTagName(u)[0];o.async=1;o.src=l;z.parentNode.insertBefore(o,z)
            })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
            ga('create', 'UA-41822557-1', 'liberation.fr');
            ga('create', 'UA-116918263-1', 'auto', 'SixPlus');
            ga('send', 'pageview');
            ga('SixPlus.send', 'pageview');
        </script>
        <!-- // Google Analytics -->

        <!-- Xiti -->
        <script type="text/javascript">
            xtnv = document;
            xtsd = "https://logliberation";
            xtsite = "381060";
            xtn2 = "48";
            xtpage = "Static::Data::";
            xtdi = "";
            xt_pagetype = "";
            xt_multc = "&x1=0&x2=43&x3=&x4=&x5=&x6=7&x7=";
            xt_an = "";
            xt_ac = "";
            if (window.xtparam==null) { window.xtparam = ''; }
            window.xtparam += "&ptype="+xt_pagetype+"&ac="+xt_ac+"&an="+xt_an+xt_multc;
        </script>
        <noscript>
            <img width="1" height="1" src="https://logliberation.xiti.com/hit.xiti?s=381060&amp;s2=56&amp;p=Static::Data::&amp;di=&amp;" >
        </noscript>
        <script type="text/javascript" src="https://statics.liberation.fr/bloom/theme/js/xtcore.js"></script>
        <!-- // Xiti -->
{% endblock %}
