.ct-ignition .ct-ignition__button--add-chapter {
    display: block !important;
    top: 64px;

    background: #2980B9 none repeat scroll 0% 0%;
}

.ct-ignition .ct-ignition__button--add-chapter:hover {
    background: #2E8ECE none repeat scroll 0% 0%;
}

.ct-covers {
    opacity: 1;
}

.ct-ignition__button--cover {
    top: 1em;
    right: 1em;

    background: #2E8ECE none repeat scroll 0% 0%;
}

.ct-ignition .ct-ignition__button--edit::before { content: "\e600"; }
.ct-ignition .ct-ignition__button--confirm::before { content: "\e60f"; }
.ct-ignition .ct-ignition__button--cancel::before { content: "\e60e"; }
.ct-ignition .ct-ignition__button--busy::before { content: "\e607"; }
.ct-ignition .ct-ignition__button--add-chapter::before { content: "\e60d"; }
.ct-ignition__button--cover::before { content: "\e602"; }

.ct-widget .ct-tool--bold::before { content: "\e611"; }
.ct-widget .ct-tool--italic::before { content: "\e612"; }
.ct-widget .ct-tool--link::before { content: "\e60c"; }
.ct-widget .ct-tool--superscript::before { content: "\e61d"; }
.ct-widget .ct-tool--definition::before { content: "\e603"; }
.ct-widget .ct-tool--youtube2::before { content: "\e61b"; }
.ct-widget .ct-tool--paragraph::before { content: "P"; }
.ct-widget .ct-tool--line-break::before { content: "\e613"; }
.ct-widget .ct-tool--image::before { content: "\e602"; }
.ct-widget .ct-tool--video::before { content: "\e61b"; }
.ct-widget .ct-tool--undo::before { content: "\e605"; }
.ct-widget .ct-tool--redo::before { content: "\e606"; }
.ct-widget .ct-tool--remove::before { content: "\e608"; }

.ct-widget .ct-anchored-dialog__button::before { content: "\e60f"; }

.ct-widget.ct-flash--ok::before { content: "\e60f"; }
.ct-widget.ct-flash--no::before { content: "\e60e"; }

.ct-widget .ct-inspector__tags::before { content: "\e61a"; }

.ct-widget .ct-control--styles::before { content: "\e601"; }
.ct-widget .ct-control--attributes::before { content: "\e607"; }
.ct-widget .ct-control--code::before { content: "\e61a"; }
.ct-widget .ct-control--remove::before { content: "\e608"; }

.ct-widget .ct-dialog__close::before { content: "\e60e"; }
.ct-widget .ct-image-dialog__view:empty::before { content: "\e602"; }

.ct-widget .ct-control--rotate-cw,
.ct-widget .ct-control--rotate-ccw,
.ct-widget .ct-control--crop { display: none; }
